<html>
    <head>
        <? include('head.html'); ?>
    </head>
    <body>
        <? include ('header.html'); ?>
        <div class="block-2">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <img class="img-responsive" src="/assets/img/404.svg" style="margin:auto;">
                    </div>
                </div>
            </div>
        </div>
        <? include('footer.html'); ?>
        <div class="notificate"></div>
    </body>
</html>