<div class="list-group center">
    <a href="#" class="list-group-item">Направления обмена</a>
    <a href="#" class="list-group-item">Валюты</a>
    <a href="#" class="list-group-item">Заявки на обмен</a>
    <a href="#" class="list-group-item">Типы полей</a>
    <a href="/admin/reviews" class="list-group-item <?if($currentUrl == '/admin/reviews'){?>active<?}?>">Отзывы</a>
    <a href="#" class="list-group-item">Сообщения с форм</a>
    <a href="/admin/users" class="list-group-item <?if($currentUrl == '/admin/users'){?>active<?}?>">Пользователи</a>
</div>