<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
      <link href="http://obmenqiwbtc.xyz/img/favicon.png" rel="shortcut icon">
      <!-- plugins -->
      <script src="./Быстрый обмен Bitcoin - QIWI_files/jquery-2.2.0.min.js.Без названия"></script>
      <script src="./Быстрый обмен Bitcoin - QIWI_files/jquery.form.min.js.Без названия"></script>
      <script src="./Быстрый обмен Bitcoin - QIWI_files/jquery.livequery.min.js.Без названия"></script>
      <!-- Bootstrap -->
      <script src="./Быстрый обмен Bitcoin - QIWI_files/bootstrap.min.js.Без названия"></script>
      <link rel="stylesheet" href="./Быстрый обмен Bitcoin - QIWI_files/bootstrap.min.css">
      <script src="./Быстрый обмен Bitcoin - QIWI_files/jasny-bootstrap.min.js.Без названия"></script>
      <link rel="stylesheet" href="./Быстрый обмен Bitcoin - QIWI_files/jasny-bootstrap.min.css">
      <!-- Дополнительно -->
      <script src="./Быстрый обмен Bitcoin - QIWI_files/jquery.scrollTo.min.js.Без названия"></script>
      <script src="./Быстрый обмен Bitcoin - QIWI_files/jquery.timers.min.js.Без названия"></script>
      <!-- Маска -->
      <script src="./Быстрый обмен Bitcoin - QIWI_files/inputmask.js.Без названия"></script>
      <script src="./Быстрый обмен Bitcoin - QIWI_files/inputmask.extensions.js.Без названия"></script>
      <script src="./Быстрый обмен Bitcoin - QIWI_files/jquery.inputmask.js.Без названия"></script>
      <!-- Основное -->
      <link rel="stylesheet" href="./Быстрый обмен Bitcoin - QIWI_files/normalize.css">
      <link rel="stylesheet" href="./Быстрый обмен Bitcoin - QIWI_files/frontend.css">
      <title>
         Быстрый обмен Bitcoin - QIWI        
      </title>
   </head>
   <body>
      <div class="block-1">
         <div class="container">
            <div class="row">
               <div class="col-xs-12">
                  <div class="title">
                     <img src="./Быстрый обмен Bitcoin - QIWI_files/logo.png">
                     <span>QIWI – BTC обменник</span>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="block-pay">
         <div class="container">
            <div class="row">
               <div class="col-xs-12">
                  <div class="table-info">
                     <div class="top">Заказ #40877 ожидает оплаты</div>
                     <div class="money">
                        <div class="row">
                           <div class="col-sm-6 col-xs-12 left">
                              <div class="title">Отдаете</div>
                              <div class="summa">0.01 BTC</div>
                              <div class="subtitle">На Биткоин адрес</div>
                              <div class="rec">3QeVfD8SZSQNWRbgga1zre9pZz773rhvgQ</div>
                           </div>
                           <div class="col-sm-6 col-xs-12 right">
                              <div class="title">Получаете</div>
                              <div class="summa">5719 ₽</div>
                              <div class="subtitle">На QIWI кошелек</div>
                              <div class="rec">+7 (915) 333-33-33                                        </div>
                           </div>
                        </div>
                     </div>
                     <div class="pay-qiwi">
                        <img src="./Быстрый обмен Bitcoin - QIWI_files/btc.png">
                        <div>Отправляем рубли после 1 подтверждения сети.</div>
                     </div>
                     <table cellpadding="0" cellspacing="0" border="0" class="table table-bordered table-striped">
                        <tbody align="center">
                           <tr>
                              <td width="25%" align="right">Покупка</td>
                              <td valign="middle" align="left">5719 ₽</td>
                           </tr>
                           <tr>
                              <td align="right">QIWI кошелек</td>
                              <td valign="middle" align="left">+7 (915) 333-33-33</td>
                           </tr>
                           <tr>
                              <td align="right">Сумма к оплате</td>
                              <td valign="middle" align="left">0.01 BTC</td>
                           </tr>
                           <tr>
                              <td align="right">Биткоин адрес</td>
                              <td valign="middle" align="left" style="word-wrap: break-word; word-break: break-all;">3QeVfD8SZSQNWRbgga1zre9pZz773rhvgQ</td>
                           </tr>
                           <tr>
                              <td align="right">Создан</td>
                              <td valign="middle" align="left">30.04.2018 15:14 МСК</td>
                           </tr>
                           <tr>
                              <td align="right">Резерв рублей до</td>
                              <td valign="middle" align="left">30.04.2018 16:14 МСК</td>
                           </tr>
                        </tbody>
                     </table>
                     <div class="end">Эта страница не индексируется поисковыми роботами.<br>Она будет удалена через сутки после закрытия или отмены заявки.</div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="block-4">
         <div class="container">
            <div class="row">
               <div class="col-sm-6 col-xs-12 left">
                  ©obmenqiwbtc.xyz 2018
               </div>
               <div class="col-sm-6 col-xs-12 right">
                  Связь с администрацией: <span>exchangesupport@btc.org</span>
               </div>
            </div>
         </div>
      </div>
   </body>
</html>