        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
        <link href="/assets/img/favicon.png" rel="shortcut icon">
        <!-- plugins -->
        <script src="/assets/js/jquery-2.2.0.min.js"></script>
        <script src="/assets/js/jquery.form.min.js"></script>
        <script src="/assets/js/jquery.livequery.min.js"></script>
        <!-- Bootstrap -->        
        <script src="/assets/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
        <script src="/assets/js/jasny-bootstrap.min.js"></script>
        <link rel="stylesheet" href="/assets/css/jasny-bootstrap.min.css">
        <!-- Дополнительно -->
        <script src="/assets/js/jquery.scrollTo.min.js"></script>
        <script src="/assets/js/jquery.timers.min.js"></script>
        <!-- Маска -->
        <script src="/assets/js/inputmask.js"></script>
        <script src="/assets/js/inputmask.extensions.js"></script>
        <script src="/assets/js/jquery.inputmask.js"></script>
        <!-- Основное -->
        <link rel="stylesheet" href="/assets/css/normalize.css">
        <link rel="stylesheet" href="/assets/css/frontend.css">
        <title><?=$title;?></title>
		<meta name="description" itemprop="description" content="<?=$description?>" />
        <meta property="og:title" content="<?=$title;?>">
        <meta property="og:image" content="http://<?=$domain?>/assets/logo/logo.png">
        <meta property="og:description" content="<?=$description?>">
        <meta property="og:url" content="http://<?=$domain?>/">
        <meta property="og:type" content="website">
        <meta property="og:site_name" content="<?=$domain?>">
        <meta property="og:locale" content="ru_RU">